!!! 5
%html
  = haml :head

  %body
    = haml :navbar

    %section#header.container-fluid

    %section#intro
      .container.text-center
        %h1 RailsBridge San Diego

        %h2
          RailsBridge is a 
          %b free
          two-day workshop where women can
          %span
            learn how to build a web app using Ruby on Rails.
        -if @active_workshop
          %p= link_to "Sign Up for RailsBridge San Diego", "https://www.bridgetroll.org/events/342", class: "btn btn-primary"

    %section.peach#schedule
      .container
        .row
          .col-md-12
            %h1 Schedule
        - if @active_workshop
          = haml :schedule
        - else
          = haml :subscribe

    %section#sponsors
      .container
        .row
          .col-md-12
            %h1 Sponsors
        .row
          .col-md-12.text-center
            %hr
            %h2 Event Sponsors
        .row
          .col-md-12.text-center
            %h3 Diamond Level
        .row
          .col-md-3
          .col-md-6
            %p= link_to image_tag("/assets/sponsors/amazon.png", class: "img-responsive amazon"), "https://www.amazon.jobs/en/locations/sandiego?base_query=&loc_query=&job_count=10&result_limit=10&sort=relevant&location%5B%5D=sandiego&cache", target: "_blank"
          .col-md-3
        .row
          .col-md-12.text-center
            %h3 Silver Level
        .row
          .col-md-2
          .col-md-4
            %p= link_to image_tag("/assets/sponsors/appfolio.png", class: "img-responsive appfolio"), "https://www.appfolio.com", target: "_blank"
          .col-md-4
            %p= link_to image_tag("/assets/sponsors/planningcenter.png", class: "img-responsive planningcenter"), "https://planning.center", target: "_blank"
          .col-md-2

      .container#annual_sponsors
        .row
          .col-md-12.text-center
            %hr
            %h2 Annual Sponsors
        .row
          .col-md-12.text-center
            %h3 Platinum Level
        .row
          .col-md-2
          .col-md-4
            %p= link_to image_tag("/assets/sponsors/learn.png", class: "img-responsive learn"), "https://www.learnacademy.org", target: "_blank"
          .col-md-4
            %p= link_to image_tag("/assets/sponsors/procore.png", class: "img-responsive procore"), "https://www.procore.com", target: "_blank"
          .col-md-2


      .container#thanks
        .row
          .col-md-12.text-center
            %hr
            %h2 Special Thanks
        .row
          .col-md-3
          .col-md-6
            %p= link_to image_tag("/assets/sponsors/sdruby.png", class: "img-responsive sdruby"), "https://www.meetup.com/sdruby/", target: "_blank"
          .col-md-3
        .row
          .col-md-12
            %hr

    %section#volunteer
      .container
        %h1 Volunteer

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        %p= link_to "Sign up to Volunteer", "https://www.bridgetroll.org/events/342", class: "btn btn-primary"

    %section#resources
      .container
        %h1 Resources

        %ul
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Sed do eiusmod tempor incididunt ut
          %li Labore et dolore magna aliqua. Ut enim ad minim veniam,
          %li Quis nostrud exercitation ullamco laboris nisi ut

    %section#curriculum
      .container
        %h1 Curriculum

        %p The <a href="http://curriculum.railsbridge.org/docs/" target="_blank">RailsBridge Curriculum</a> is online so you can get an advance look at what you'll be learning. Most classes follow the RailsBridge  <a href="http://curriculum.railsbridge.org/intro-to-rails/" target="_blank">Introductory Curriculum</a> (our "Suggestotron" project) but some workshops cover the Ruby language, HTML and CSS for beginners, or Intermediate Rails.

        %p= link_to "Learn More!", "http://docs.railsbridge.org/docs/", class: "btn btn-primary", target: "_blank"

    %section#conduct
      .container
        %h1 Code of Conduct

        %p We seek to create a community of software developers that are reflective of the diversity in the general population. To that end, we are dedicated to creating welcoming and friendly learning environments.

        %p All participants agree to the following:

        %ul
          %li Everyone has something to contribute. Everyone deserves access to materials and community that will help them learn. As long as an individual can be respectful and not disruptive to other participants, they deserve to participate.
          %li If there is limited space and resources, anyone is welcome to replicate an event, such that more opportunities may be available. All curricula and organizing materials are open source and free. Provided that the organizer and event conform to project guidelines, we will help.
          %li
            A harassment-free experience for everyone is essential. See our
            #{link_to "anti-harassment policy", "http://bridgefoundry.org/code-of-conduct/anti-harrassment-policy.html", target: "_blank"}.

        %p Furthermore, workshops and associated “after party” must be safe environments focused on learning.

        %p= link_to "Read More", "http://bridgefoundry.org/code-of-conduct/", class: "btn btn-primary", target: "_blank"

    %section#faq
      .container
        %h1 FAQ

        %h2 Do I need to know how to code to attend the workshop?

        %p No... blah blah blah

        %h2 Do I need to be a woman to attend the workshop?

        %p No... blah blah blah

        %h2 Do I need to bring my own laptop to the workshop?

        %p Yes... blah blah blah

        %h2 Do I need to do anything to prepare for the workshop?

        %p It's a really good idea to start the Installfest ahead of time, and download any of the necessary things that your organizer emailed you about (RailsInstaller, perhaps, or XCode, or Sublime Text). Other than that, come as you are!

        %h2 Do I have to attend the Installfest?

        %p Yes! The Installfest is a crucial part of the weekend, even if you’ve already gone through the instructions independently. There are a ton of moving parts when setting up a development environment, and the reason that we’re able to get through the curriculum on Saturday is that every single student has had their development environment checked and has been awarded a sticker for their success. There are also enough changing parts that even if you’ve been to a workshop in the past, you should attend the Installfest to get re-verified, because Rails and its development environment changes frequently.

        %h2 Do I really have to attend the Installfest?

        %p Yes, really. There will be pizza, we promise. And fun people to talk to. And you don’t have to be there very long if you’ve already gotten through all the steps. (But if you haven’t gotten through all the steps ahead of time, please come early in the evening, because an install can take a few hours depending on what hiccups we need to work through.)

        %h2 How much does childcare cost?

        %p Nothing! RailsBridge hires a sitter on the house so that there’s nothing between you and your computer. Childcare is typically provided in a lounge or conference room near to your classroom. Just let the organizer know ahead of time so we can make arrangements.

    %section#about
      .container
        %h1 About

        %p RailsBridge is an organization that teaches people to code because we believe that the people making technology should accurately reflect the diversity of those using it. We want to push for all kinds of diversity in tech: gender, race, sexual orientation, ability, and class. Women were the first population we focused on, but aren't the last. We value acceptance, enthusiasm, and hard work. The RailsBridge community thrives on optimism and a love for making great things.

        %p San Diego RailsBridge Workshop for Women is a day and a half FREE workshop that will take students through building a complete web application using Ruby on Rails. By the end of the workshop, you'll have an application on the internet that connects to a database and reads and writes information. We'll meet up Friday night to install all of the software you need, and then spend Saturday, the workshop day learning and writing code.

        %p RailsBridge workshops focus on providing opportunities for under-represented populations in tech. This is an Outreach to Women Workshop. It is emphatically LGBTQQIP2SAA friendly. If you are not a member of an underrepresented group, you can attend as a student if you're the guest of someone who is a member of the workshop's target population. The workshop provides an opportunity for you to participate in outreach efforts and encourage someone to attend with you who might not otherwise come.

    = haml :footer
