!!! 5
%html
  = haml :head

  %body
    = haml :navbar

    %section#header.container-fluid

    %section#intro
      = haml :intro

    %section.peach#schedule
      - if @active_workshop and params[:list] != "show"
        = haml :schedule
      - else
        = haml :subscribe

    %section#sponsors
      = haml :sponsors

    %section#volunteer
      = haml :volunteer

    %section#resources
      = haml :resources

    %section#curriculum
      = haml :curriculum

    %section#conduct
      = haml :conduct

    %section#faq
      = haml :faq

    %section#about
      = haml :about

    = haml :footer
