!!! 5
%html
  = haml :head

  %body
    = haml :navigation

    #intro.container-fluid
      .intro-content.text-center
        %h1 RailsBridge San Diego


        %h2 RailsBridge is a day and a half FREE workshop
        %br
        %h2 that will take students through building
        %br
        %h2 a complete web application using Ruby on Rails.

        %p= link_to "Sign Up", "https://www.bridgetroll.org/events/342", class: "btn btn-primary"

    %section#about
      .container
        %h1 About

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    %section#faq
      .container
        %h1 FAQ

        %h2.strong Lorem ipsum dolor sit amet?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        %h2.strong Consectetur adipiscing elit?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        %h2.strong Sed do eiusmod tempor incididunt ut?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        %h2.strong Labore et dolore magna aliqua. Ut enim ad minim veniam?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        %h2.strong Quis nostrud exercitation ullamco laboris nisi ut?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    %section#schedule
      .container-fluid.peach-wrap
        .row
          .col-md-12
            %h1 Schedule
        .row
          .col-md-6
            .schedule-block
              %h2 Installfest
              %h3
                %i.fa.fa-calendar-o
                %span Friday, April 21, 2017
              %h3
                %i.fa.fa-clock-o
                %span 6:00 pm - 9:00 pm
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .col-md-6
            .schedule-block
              %h2 Workshop
              %h3
                %i.fa.fa-calendar-o
                %span Saturday, April 22, 2017
              %h3
                %i.fa.fa-clock-o
                %span 9:30 am - 4:30 pm
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


    %section#voluntee
      .container
      
        %h1 Volunteer

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    %section#resources
      .container
        %h1 Resources

        %ul
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Sed do eiusmod tempor incididunt ut
          %li Labore et dolore magna aliqua. Ut enim ad minim veniam,
          %li Quis nostrud exercitation ullamco laboris nisi ut

    %section#curriculum
      .container
        %h1 Curriculum

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        %p= link_to "Learn More!", "http://docs.railsbridge.org/docs/", class: "btn btn-primary"

    = haml :footer
