!!! 5
%html
  = haml :head

  %body
    = haml :navigation

    #content
    
      %h1 RailsBridge San Diego
      
      %h2 RailsBridge is a day and a half FREE workshop that will take students through building a complete web application using Ruby on Rails.

      %p= link_to "Sign Up", "https://www.bridgetroll.org/events/342", class: "btn btn-primary"

      %hr

      %p= link_to "Style guide", "/style", class: "btn btn-primary btn-peach"

    = haml :footer
