!!! 5
%html
  = haml :head

  %body
    = haml :navbar

    %section#header.container-fluid
      = haml :header

    %section#intro
      = haml :intro

    %section#schedule.peach
      - if @active_workshop and params[:list] != "show"
        = haml :schedule
      - else
        = haml :subscribe

    %section#faq
      = haml :faq
      
    %section#curriculum
      = haml :curriculum

    %section#resources
      = haml :resources   
      
    %section#conduct
      = haml :conduct
        
    %section#volunteer
      = haml :volunteer

    %section#sponsors
      = haml :sponsors
      
    %section#about
      = haml :about

    = haml :footer
