.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#hamburger", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#header"} RailsBridge San Diego

    #hamburger.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.pull-right
        %li= link_to "Intro", "#intro"
        %li= link_to "Schedule", "#schedule"
        %li= link_to "Sponsors", "#sponsors"
        %li= link_to "FAQ", "#faq"
        %li= link_to "Curriculum", "#curriculum"
        %li= link_to "Resources", "#resources"
        %li= link_to "Code of Conduct", "#conduct"
        %li= link_to "Volunteer", "#volunteer"
        %li= link_to "About", "#about"
