!!! 5
%html
  = haml :head

  %body
    = haml :navbar

    #content{:style => "margin: 60px 0;"}
    
      .container
      
        %h3.sample Sample text

        %h1 (H1) Headline
        
        %h2 (H2) Headline

        %h3 (H3) Headline

        %h3.sample Sample buttons
        
        %p
          = link_to "Peach", "https://www.bridgetroll.org/events/342", class: "btn btn-primary btn-peach"
          = link_to "Red", "https://www.bridgetroll.org/events/342", class: "btn btn-primary btn-red"
          = link_to "Purple", "https://www.bridgetroll.org/events/342", class: "btn btn-primary btn-purple"
          = link_to "Green", "https://www.bridgetroll.org/events/342", class: "btn btn-primary btn-green"
          = link_to "Gray", "https://www.bridgetroll.org/events/342", class: "btn btn-primary btn-gray"
          = link_to "White", "https://www.bridgetroll.org/events/342", class: "btn btn-primary btn-white"

        %h3.sample Sample image (normal)
        
        %p
          = image_tag("assets/style/railsbridge.jpg", :size => "500x300")

        %h3.sample Sample image (responsive)
        
        %p To make a responsive image, you should create two image files, one at @1x resolution and one at @2x resolution.
        
        %ul
          %li my_image@1x.jpg <= 128x128 pixels
          %li my_image@2x.jpg <= 256x256 pixels

        %p Then use the image_tag helper like so...

        %ul
          %li image_tag("assets/logo@1x.png", :size => "128x128")

        %p When rendered by the browser, the image will be 128 x 128 pixels in size... but browsers that support retina images will load the 2x version of the image and it will look sharper on the page.
        
        %p Note: images can be any size. Just make sure your 2x image is twice the size of the your 1x image.
        
        %p
          = image_tag("assets/style/logo@1x.png", :size => "128x128")
