.container
  %h1 Volunteer

  %p Railsbridge San Diego wouldn't be possible without the help of awesome volunteers from the San Diego tech community! 

  %p Interested in volunteering? Here's how you can help:
  
  %ul
    %li
      %strong Teach a class
      &mdash; Don’t worry, we provide the curriculum. If you know Ruby on Rails, you can teach at RailsBridge. 
    %li
      %strong Be a TA
      &mdash; Not sure about teaching? Well, you can be a Teaching Assistant and help students whenever they get stuck.
    %li
      %strong Setup laptops
      &mdash; Set up student laptops with everything they need for Ruby on Rails development
    %li
      %strong Not a developer?
      &mdash; There are many ways to help! You can volunteer, help organize, or even
      #{link_to "make a donation", "#about"}.

  %p
    Also, if you plan to volunteer, make sure to read the 
    = link_to "Installfest setup guide", "http://installfest.railsbridge.org/installfest/installfest"
    and the
    = link_to "RailsBridge curriculum", "http://docs.railsbridge.org/intro-to-rails/"
    before you come to RailsBridge San Diego. You can also
    = link_to "contact us", "#footer"
    if you have any questions.

  %p= link_to "Sign up to Volunteer", "https://www.bridgetroll.org/events/342", class: "btn btn-primary"
